@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.digit-input-div {
display: flex;
justify-content: space-around;
flex-direction: column;
height: 150px;
width: 100px;
transition: 0.3s;
margin: 0px 10px;
border-radius: 10px;

}

.digit-input-div:hover {
  background-color:rgba(255,255,255,0.3);
  cursor: default;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 33vh;
}

.digit-value-change-button {
  height: 60px;
  font-size: 35px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}

.digit-value-change-button:hover {
  color:white;
}

.increase-button {
  transition: 0.2s;
}

.increase-button:active {
  padding-bottom: 40px;
}

.decrease-button {
  transition: 0.2s;
}

.decrease-button:active {
  padding-top: 20px;
}

.disabled {
  opacity: 0.2;
  cursor: default;
  transition: 0.5s;
}

.disabled:hover {
  color: #000;
}

.digit-value {
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  color: white;
  margin: 0;

}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.button-div {
  display: flex;
  width: 100px;
  flex-direction: column;
}

.colon {
  font-size: 80px;
  font-family: 'Anton', sans-serif;
  color: white;
  margin: 0 10px;
  margin-bottom: 10px;
  
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

.config-page-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.tip {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  text-align: center;
}

.tip-div {
display: flex;
justify-content: center;
width: 100%;
height: 33vh;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.start-couter-button {
  width: 250px;
  height: 50px;
}

.counter-button-div {
height: 33vh;
display: flex;
align-items: center;
}

.button-start {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.button-start a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.button-start a:before,
.button-start a:after{
  position: absolute;
  content: "START";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
.button-start a:before{
  color: #fff;
  content: "READY?";
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: rotateY(0deg) translateZ(25px);
}
.button-start a:after{
  color: #000;
  background: linear-gradient(243deg, rgba(34,195,158,1) 0%, rgba(34,195,134,1) 51%, rgba(45,253,111,1) 100%);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;

  transform: rotateX(90deg) translateZ(25px);
}
.button-start a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.item-enter {
  opacity: 0;
  transform:   translate(-250px,0);
  transform: translate3d(-250px,0,0);
}
.item-enter.item-enter-active {
opacity: 1;
transition: opacity 1s ease;
transform:   translate(0,0);
transform: translate3d(0,0,0);
transition-property: transform, opacity;
transition-duration: 300ms;
transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.item-leave {
opacity: 1;
transform:   translate(0,0,0);
transform: translate3d(0,0,0);
transition-property: transform, opacity;
transition-duration: 300ms;
transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.item-leave.item-leave-active {
opacity: 0;
transform:   translate(250px,0);
transform: translate3d(250px,0,0);
}

.timerdiv {
  font-size: 400px;
  padding: 20px;
  width: 400px;
  height: 33vh;
  text-align: center;
  color: white;
}

.colondiv {
  font-size: 400px;
  color: white;
}

.git-icon {
  color: rgba(255, 255, 255, 0.486);
  align-self: flex-end;
  margin-bottom: 20px;
  transition: 0.3s;
  border-radius: 10px;
}

.conditional-git-icon {
  color: rgba(255, 255, 255, 0.486);
  align-self: flex-end;
  margin-bottom: 20px;
  transition: 0.3s;
  border-radius: 10px;
}

.git-icon:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 10px;
}


@media screen and (max-width: 1500px) {
  .timerdiv {
    font-size: 250px;
    width: 250px;
  }

  .colondiv {
    font-size: 250px;
  }

  .conditional-git-icon {
    display: none;
  }
}

.conditional-git-icon:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.452);
  padding: 10px;
}



.timer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Anton', sans-serif;
}

.timer {
  display: flex;
  margin: 50px;
  transition: 0.3s;
  border-radius: 20px;
}

.pauseButton {
  padding: 10px 0;
  width: 400px;
  border-radius: 10px;
  border: 1px solid white;
  background: rgba(128, 128, 128, 0.199);
  font-size: 20px;
  color: white;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--dione {
  background:none ;
  font-family: 'Montserrat', sans-serif;
	font-weight: 500;
  width: 200px;
	padding: 1.5rem 3rem;
  
}

.button--dione span {
	display: inline-block;
	position: relative;
	color: black;
  font-size: 25px;
}

.button--dione::before {
	content: '';
	background: white;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
}

.button--dione:hover::before {
	transform: scale3d(0.9, 0.8, 1);
}

.button--dione::after {
	content: '';
	border: 1px solid white;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
	border-radius: 0px;
	transform: scale3d(0.85, 0.65, 1);
  margin-left: -1px;
  
  
}

.button--dione:hover::after {
	transform: scale3d(1,1,1);
  
}

.return {
  position: absolute;
  left: 20px;
}

.arrow {
  color: white;
  border-radius: 10px;
  margin-left: 20px;
  transition: 0.3s;
}

.arrow:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.425);
  cursor: pointer;
  padding: 10px;
}

.arrow-disabled {
  color: rgba(255, 255, 255, 0.384);
}

.timer:hover {
  background-color: rgba(255, 255, 255, 0.418);
  cursor: pointer;
  padding: 20px;

}

.paused {
  background-color:rgba(233, 33, 66, 0.829);
}

.paused:hover {
  background-color:rgba(233, 33, 66, 0.829);
}

.timer-end {
  display: flex;
  margin: 50px;
  transition: 0.3s;
  border-radius: 20px;
  background-color:rgba(233, 33, 66, 0.829);
  padding: 40px;
}

.timer-end:hover {
  cursor: pointer;
  background-color:rgba(241, 0, 40, 0.925);
  padding: 20px;
}

.footer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
}

